﻿@using ApplicationCore.DTO.Clients

@model IEnumerable<ClientRoleDTO>

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">Clients</li>
</ol>

<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <span>
            <i class="fas fa-users mr-1"></i>
            Clients
        </span>
        <button id="create-client-btn" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" title="Create new client">
            <i class="fas fa-user-plus mr-1"></i>
            Create client
        </button>
    </div>
    <div class="card-body">
        <table class="table table-bordered w-100" id="clients-table" cellspacing="0">
            <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Address</th>
                    <th>Operations</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Create new client modal -->
<div class="modal fade" id="edit-client-modal" tabindex="-1" role="dialog" aria-labelledby="edit-client-modal" aria-hidden="true">
    <form id="edit-client-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset class="bg-light pl-2 pr-2 pb-2">
                        <legend>Address:</legend>
                        <input type="number" name="Id" value="0" class="d-none" />
                        <input type="text" name="Country" value="" class="form-control form-control-sm mb-2" placeholder="Country" maxlength="32" title="Country" required />
                        <input type="text" name="City" value="" class="form-control form-control-sm mb-2" placeholder="City" maxlength="32" title="City" required />
                        <input type="text" name="Street" value="" class="form-control form-control-sm mb-2" placeholder="Street" maxlength="32" title="Street" required />
                        <input type="text" name="HomeNumber" value="" class="form-control form-control-sm" placeholder="Number" maxlength="16" title="HomeNumber" />
                    </fieldset>
                    <div id="client-data"></div>
                    <fieldset class="bg-light p-2">
                        <legend>Role:</legend>
                        @foreach (var item in Model)
                        {
                            if (item.Code == AppConstants.ClientPersonCode)
                            {
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="@item.Code" name="RoleId" class="custom-control-input" value="@item.Id" data-code="@item.Code" title="@item.Name" checked />
                                    <label class="custom-control-label" for="@item.Code" title="@item.Name">@item.Name</label>
                                </div>
                            }
                            else
                            {
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="@item.Code" name="RoleId" class="custom-control-input" value="@item.Id" data-code="@item.Code" title="@item.Name" />
                                    <label class="custom-control-label" for="@item.Code" title="@item.Name">@item.Name</label>
                                </div>
                            }
                        }
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section js{
    <script id="person-fields" type="text/x-jsrender">
        <fieldset class="bg-light pl-2 pr-2 pb-2 person-fields-wrapper">
            <legend>Person data:</legend>
            <input type="text" name="FirstName" value="" class="form-control form-control-sm mb-2" placeholder="First name" maxlength="16" title="First name" required />
            <input type="text" name="SurName" value="" class="form-control form-control-sm mb-2" placeholder="Surname" maxlength="16" title="Surname" required />
            <input type="text" name="LastName" value="" class="form-control form-control-sm mb-2" placeholder="Last name" maxlength="16" title="Last name" required />
            <input type="text" name="Passport" value="" class="form-control form-control-sm mb-2" placeholder="Passport" maxlength="16" title="Passport" />
            <input type="date" name="Birthday" value="" class="form-control form-control-sm" title="Birthday" />
        </fieldset>
    </script>
    <script id="entity-fields" type="text/x-jsrender">
        <fieldset class="bg-light pl-2 pr-2 pb-2 entity-fields-wrapper">
            <legend>Legal entity data:</legend>
            <input type="text" name="Name" value="" class="form-control form-control-sm mb-2" placeholder="Name" maxlength="16" title="Name" required />
            <input type="number" name="ITN" value="" class="form-control form-control-sm" placeholder="ITN" min="0" maxlength="16" title="ITN" required />
        </fieldset>
    </script>
    <script id="client-operation-buttons" type="text/x-jsrender">
        <div class="d-flex justify-content-around">
            <button title="Edit client" class='btn btn-outline-success btn-sm edit-client' data-client-id='{{:id}}' data-client-name='{{:name}}'><i class='far fa-edit' aria-hidden='true'></i></button>
            <a href="/admin/sales/index/{{:id}}"  class='btn btn-outline-primary btn-sm' title="Manage purchases for this client"><i class='fas fa-shopping-cart' aria-hidden='true'></i></a>
            <button title="Delete client" class='btn btn-outline-secondary btn-sm delete-client' data-client-id='{{:id}}' data-client-name='{{:name}}'><i class="fas fa-times"></i></button>
        </div>
    </script>
    <script>
        $(function () {
            crm.clients.init();
        });
    </script>
}
