﻿@using Microsoft.Extensions.Options

@inject IOptions<Settings> SettingsAccessor

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3 class="mt-2"><span>@SettingsAccessor.Value.AppName</span> is developer by <span>@SettingsAccessor.Value.Author for test purposes.</span></h3>
<p>This is a simple ASP.NET Core 2.0 applications with layered architecture.</p>
<small>Version @SettingsAccessor.Value.Version</small>
