﻿@{
    ViewData["Title"] = "CRM Home";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/crm.png" alt="CRM">
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h2 class="display-4">Clients-Products-Sales</h2>
        <h5 class="lead">Customer, product and sales management system</h5>
    </div>
</div>
