.valid {
  border-color: lightgreen; }

.error {
  border-color: red; }

.ui-autocomplete {
  z-index: 1051;
  max-width: 450px;
  box-shadow: 5px 5px 5px grey; }
  .ui-autocomplete .ui-menu-item {
    border-bottom: 1px solid lightgray;
    padding: 3px; }
    .ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
      font-size: small; }

.ui-autocomplete.ui-front {
  z-index: 1051; }
