@using Microsoft.AspNetCore.Identity
@using Infrastructure.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                @if (User.IsInRole(AppConstants.AdminRole))
                {
                    <a class="nav-link" asp-area="Admin" asp-controller="Clients" asp-action="Index" title="Cabinet">Hello @UserManager.GetUserName(User)!</a>
                }
                else
                {
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" title="Home">Hello @UserManager.GetUserName(User)!</a>
                }
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link navbar-btn nav-link" title="Log out">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
