﻿<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">Products</li>
</ol>

<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <span>
            <i class="fab fa-product-hunt mr-1"></i>
            Products
        </span>
        <button id="create-product-btn" type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" title="Create new product">
            <i class="fas fa-plus mr-1"></i>
            Create product
        </button>
    </div>
    <div class="card-body">
        <table class="table table-bordered w-100" id="products-table" cellspacing="0">
            <thead class="table-primary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Count</th>
                    <th>Operations</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="modal fade" id="edit-product-modal" tabindex="-1" role="dialog" aria-labelledby="edit-product-modal" aria-hidden="true">
    <form id="edit-product-form">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <fieldset class="bg-light pl-2 pr-2 pb-2">
                        <legend>Product data:</legend>
                        <input type="number" name="Id" value="0" class="d-none" />
                        <textarea name="Name" class="form-control form-control-sm h-25" rows="3" maxlength="256" title="Name" placeholder="Name" required></textarea>
                        <small class="text-secondary d-block ml-2 mr-2 mb-2">Name of pruduct must by less than 256 symbols length</small>
                        <input type="number" name="Price" value="" class="form-control form-control-sm mb-2" placeholder="Price" min="0" title="Price" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" required />
                        <input type="number" name="Count" value="" class="form-control form-control-sm mb-2" placeholder="Count" min="0" title="Count" required />
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section js{
    <script id="product-operation-buttons" type="text/x-jsrender">
        <div class="d-flex justify-content-around">
            <button title="Edit product" class='btn btn-outline-success btn-sm edit-product' data-product-id='{{:id}}' data-product-name='{{:name}}'><i class='far fa-edit' aria-hidden='true'></i></button>
            <button title="Delete product" class='btn btn-outline-secondary btn-sm delete-product' data-product-id='{{:id}}' data-product-name='{{:name}}'><i class="fas fa-times"></i></button>
        </div>
    </script>
    <script>
        $(function () {
            crm.products.init();
        });
    </script>
}